<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/Content/flot/excanvas.min.js"></script><![endif]--> 
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content/flot/jquery.js")"></script> 
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content/flot/jquery.flot.js")"></script> 
</head>

<body>
    @RenderBody()
</body>
</html>
